@font-face {
  font-family: 'Beaufort';
  src: url('Beaufort-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Beaufort';
  src: url('Beaufort-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Beaufort';
  src: url('Beaufort-Heavy.ttf');
  font-weight: bolder;
}
@font-face {
  font-family: 'Beaufort';
  src: url('Beaufort-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Beaufort';
  src: url('Beaufort-Light.ttf');
  font-weight: light;
}
@font-face {
  font-family: 'Beaufort';
  src: url(Beaufort-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Beaufort';
  src: url(Beaufort-HeavyItalic.ttf);
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Beaufort';
  src: url(Beaufort-LightItalic.ttf);
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: 'Beaufort';
  src: url(Beaufort-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Beaufort';
  src: url(Beaufort-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
