.champion {
  position: relative;
  padding: 25px 150px 25px 150px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.2fr 2.6fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'champion-header'
    'champion-nav'
    'champion-content';
  height: 100%;
  // background-color: #0a323c;
}

.bg-image {
  right: 0;
  top: 50px;
  position: fixed;
  height: 50%;
  background-image: inherit;
  background-position: center;
  z-index: -2;
  // background-repeat: no-repeat;
  // mask-image: -webkit-gradient(
  //   linear,
  //   left top,
  //   left bottom,
  //   from(rgba(0, 0, 0, 0.5)),
  //   to(rgba(0, 0, 0, 0))
  // );
  // -webkit-mask-image: -webkit-gradient(
  //   linear,
  //   left top,
  //   left bottom,
  //   from(rgba(0, 0, 0, 0.5)),
  //   to(rgba(0, 0, 0, 0))
  // );
}
// .bg-overlay {
//   left: 0;
//   bottom: 0;
//   position: absolute;
//   max-width: 100%;
//   min-width: 100%;
//   height: 100%;
//   background: linear-gradient(
//     150deg,
//     rgba(16, 21, 39, 0.1) 0%,
//     rgb(0, 0, 0, 0.6) 80%
//   );
//   z-index: -1;
// }

.champion-header {
  z-index: 1;
  grid-area: champion-header;
  display: flex;
  align-items: center;
  .squareImg {
    z-index: 1;

    margin-right: 10px;
    height: 100px;
  }

  .champion-info {
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
  }
  .champion-label {
    z-index: 1;

    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 36px;
    white-space: nowrap;

    .champion-name {
      font-weight: 900;
      margin-right: 12px;
    }
    .champion-title {
      font-weight: bold;
      color: #c89b3c;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .champion-header-row {
    display: flex;
    align-items: center;
    height: 32px;
    font-weight: bold;
    margin-top: 10px;
  }
}

.champion-nav {
  z-index: 1;
  grid-area: champion-nav;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  min-height: 50px;
  .nav-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2%;
    // &:hover {
    //   transform: rotateZ(45deg);
    // }
  }
  // .champion-tab {
  //   border: 1px solid purple;
  //   padding: 4px 6px;
  //   border-radius: 8px;
  // }
}

.champion-content {
  z-index: 1;
  height: 100%;
  grid-area: champion-content;
}
