.sidebar {
  background-color: #aaaaaa;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 75px;
  margin: 0px;

  &:hover {
    width: 200px;
    position: fixed;
    top: 0;
  }

  .sidebar-top {
    .divClass:focus {
      outline: none !important;
    }

    .divClass:focus-within {
      outline: none !important;
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    img {
      height: 75px;
      width: 75px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    list-style: none;
    height: 5%;
    padding: 5px 0px;
  }
  li:first-child {
    border-top: 1px solid #ffffff;
  }
}
